.home-container {
    display: flex;
    width:100%;
    height:100vh;
    background-color: green;
    * {

        font-family: 'Soleil_Regular';
        // height: 100%;
    }
}

.nav-bar {
    width: 300px;
    background-color: grey;
    position: relative;
    // height: 100%
}

.note-index {
    width: 300px;
    background-color: lightblue;
    // height: 100%
}

.note-body {
    flex: 1 auto;
    background-color: lightcoral;
}

