/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  width: 1140px;
  display: inline-block;
  font-family: 'Soleil_Regular';    
  height: 80px;
}

.nav-container {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 28px 16px;
  height: 80px;
  font-size: 14px;
  line-height: 21px;
}

#nav-title {
  font-size: 28px;
  font-weight: bold;
  padding: 24px 16px 18px 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #00a82d;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.nav-logo {
    height: 34px;
    width: auto;
    float: left;
    padding-top: 21px;
    padding-right: 3px;
}

