.home-container {
    display: flex;
    width:100%;
    height:100vh;
    background-color: #333333;
    * {

        font-family: 'Soleil_Regular';
        // height: 100%;
    }
}

.nav-bar {
    width: 300px;
    background-color: grey;
    position: relative;
    // height: 100%
}

.note-index {
    width: 300px;
    background-color: 	#262626;
    // height: 100%
    border-right: 1px solid black;
    header, li {
        border-bottom: 1px solid #404040;

    }

    li:hover {
        background-color: #404040;
    }

    button {
        color: white;
    }
}

.notes-header {
    height: 77px;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 16px;
    color: 	#d9d9d9;
}

.note-body {
    flex: 1 auto;
    background-color: #333333;
    color: white;
}

.note-index-item {
    height: 77px;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 13px;
    color: 	#d9d9d9;
}