.home-container {
    display: flex;
    width:100%;
    height:100vh;
    background-color: #333333;
    * {

        font-family: 'Soleil_Regular';
        // height: 100%;
    }
}

.nav-bar {
    width: 300px;
    color: #fff;
    background-color: black;
    position: relative;
    // height: 100%
}

.note-index {
    width: 300px;
    background-color: 	#262626;
    // height: 100%
    border-right: 1px solid black;
    header {
        border-bottom: 1px solid #404040;

    }


    button {
        color: red;
        font-size: 12px;
        border: 1px solid black;
    }
}

.note-index-container {
    border-bottom: 1px solid #404040;

    // :hover {
    // background-color: #404040;
    // }
}

.note-index-container:hover {
    background-color: #404040;
}

.notes-header {
    height: 77px;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 16px;
    color: 	#d9d9d9;
}

.note-body {
    flex: 1 auto;
    background-color: #333333;
    color: white;
    input[type=text], textarea[type=text] {
        width: 100%;
        resize: none;
    }
}

.title-field {
    height: 8vh;
    // width: 100%;
    border: 1px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
}

.body-field {
    height: 92vh;
    border: 1px solid white;
    padding: 12px 40px 0px;
    // width: 100%;


}

.note-index-item {
    height: 77px;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 18px;
    color: 	#d9d9d9;
}