.splash {
    display: flex;
    justify-content: center;
    text-align: center;
}

.row {
    max-width: 1220px;
    margin: 0 auto;
}

.splash-slogan-header {
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: 'Soleil_Regular';
    font-size: 56px;
    font-weight: bold;
}

.splash-slogan {
    font-family: 'Soleil_Regular';
    font-size: 24px;
    padding-bottom: 30px;
}

.splash-image {
    width: 980px;
    height: auto;
    padding-top: 50px;
}

.signup-button {
    font-family: 'Soleil_Regular';
    height: 22px;
    width: 142px;
    background-color: #00a82d;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    padding: 16px 80px;
    line-height: normal;
    font-weight: bold;
}

.splash-login-text {
    font-family: 'Soleil_Regular';
    padding-top: 20px;
    text-decoration: underline;
    :hover {
        color: #00a82d;
    }
}