
.splash {
    font-family: 'Soleil_Regular';
    display: flex;
    justify-content: center;
}

.row {
    max-width: 1220px;
    text-align: center;
}

.splash-slogan-header {
    font-size: 56px;
    // font-weight: bold;
}

.splash-slogan {
    font-size: 24px;
}
